:root{
  --cinzaclaro: #D9D9D9;
  --azul: #459eb6;
  --branco: #fff;
}

.dark{
  --cinzaclaro: #222;
  --azul: #2a3f9c;
  --branco: #fff;
}

.page-full{
  align-items: stretch;
  justify-content: space-around;
  background-color: var(--cinzaclaro);
  margin: 1% 10% 1% 10%;
  padding-bottom: 0.5%;
}

h2{
  text-align: center;
  background-color: var(--azul);
  margin: auto;
  font-size: x-large;
  color: var(--branco);
}

h1{
  text-align: center;
  font-size: larger;
  padding: 0.5%;
}
/* 

.form-label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}


.form-input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  border: 1px solid #dbdbdb;
}

.back-button{
  display: flex;
  text-align: center;
  padding: 0.5%;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: stretch;
}
.submit-button {
  padding: 0.5rem 1rem;
  background-color: #459eb6;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cancel-button {
  padding: 0.5rem 1rem;
  background-color: #949494;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s;
}


.top-page{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 1% 0 0 0;
}

.mid-page{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}

.back-page{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: stretch;
}


.top-one{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: flex-start;
  align-items: baseline;
  gap: 2%;
}

.mid-two{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: flex-start;
  align-items: baseline;
  gap: 2%;
}

.back-tree{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: flex-start;
  align-items: baseline;
  gap: 2%;
}
 */

 /* .top-one{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: baseline;
  gap: 2%;
} */

.has-text-centered {
  align-self: center;
}
