

.logo-container {
    display: flex;
    justify-content: center;
    height: 800px;
  }
  
.logo {
    width: 20%;
    opacity: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
  .input{
    border-color: #000;
   }

  .border-none{
    border-style: none;
  }


  .alert-icon{
    background-color: red;
  }
 
  .modal-content {
    overflow: hidden;
  }
  .ajuda-content{
    width:100%;
    background-Color: var(--azul);
}


  @media screen and (max-width: 1200px) {
    .ajuda-content{
      max-width: 80%;
    }
 }

 .ajuda-botao{
  border-radius: 100%;
 }