.fundo{
    background-image: linear-gradient(261deg, rgba(80, 80, 80, 0) 6%, rgba(100, 100, 100, 0.297) 20%, rgba(29, 51, 56, 0.74) 100%), url('../../assets/img/fundoLogin.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
}

.tela-login{
    border-radius: 100px;
    max-width: 40%;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.144);
}

.page-full-login{
    border-radius: 20px;
    width: 50%;
    height: 40%;
    min-height: 500px;
}

h3, p{
    color: white;
}

.entra{
    background-color: transparent !important;
}

.input-cinza{
    width: 100%;
    height: 50px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 30px;
    font-size:larger;
    padding-left: 5%;
    color: black;
}

.field-login{
    width: 70%;
}


@media screen and (max-width: 900px) {
    .tela-login{
        border-radius: 100px;
        max-width: 90%;
        box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.144);
    }

 }