:root{
  --verde: #459EB5;
  --branco: #FFFFFF;
}

.custom-background {
    background-color: var(--verde);
  }

.navbar-burger{
  color: var(--branco);
}

.navbar-item{
  color: var(--branco);
}

.navbar-item:hover{
  background-color: #367E90;
}

a:hover{
  background-color: #367E90;
}

a.active{
  background-color: #367E90;
}

@media screen and (max-width: 768px) {
  .navbar-item {
    font-size: 0.8rem;
    margin: 0 0.2rem;
    background-color: #459EB5;
  }


  .empresa {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .navbar-start {
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) {
  .navbar-menu {
    flex-direction: column;
  }
}