:root{
  --verde: #459EB5;
  --verdeEscuro: #367E90;
  --branco: #FFFFFF;
  --vermelho: #903636;
  --azul: #459EB5;

  @media(prefers-color-scheme: dark){
    --verde: #3b4b9b;
    --verdeEscuro: #1a2351;
    --branco: #000;
    --vermelho: #903636;
    --azul: #459EB5;

    .img{
      filter: invert(100%);
    }
  }
}

.img{
  margin-inline: 10px;
  flex:auto;
  margin-top: auto;
  margin-bottom: auto;
}

.custom-background {
    background-color: var(--verde);
  }

.navbar-burger{
  color: var(--branco);
}

a.nav-item {
  color: var(--branco);
}

.navbar p:hover{
  background-color: var(--verdeEscuro);
  transition: 200ms ease-in-out;
  cursor: pointer;
}

.navbar p::after{
  background-color: var(--vermelho);
  transition: 200ms ease-in-out;
  cursor: pointer;
}

.navbar-menu {
  background-color: var(--verde);
}

@media screen and (max-width: 1024px) {
  .empresa {
    display: none;
  }

  .navbar{
    display:flex;
    flex-direction: column;
  }

  .navbar-menu {
    flex-direction: column;
    background-color: transparent;
    
  }
  .navbar-brand{
    display:none
  }
  .navbar-item{
    width: 100vh;
  }
}

ul{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-left: 0px;
}

.shadow-menu{
  box-shadow: 0px .5px 5px rgba(0, 0, 0, 0.534);
}

.navbar-menu{
  box-shadow: none;
}