:root{
  --verde: #459EB5;
  --verdeEscuro: #367E90;
  --branco: #FFFFFF;
  --vermelho: #903636;
  --azul: #459EB5;
}


.dark{
  --verde: #3b4b9b;
  --verdeEscuro: #1a2351;
  --branco: #000;
  --vermelho: #903636;
  --azul: #459EB5;
}

.img.dark{
  filter: invert(100%);
}

.img{
  margin-inline: 10px;
  flex:auto;
  margin-top: auto;
  margin-bottom: auto;
}

.custom-background {
    background-color: var(--verde);
  }

.navbar-burger{
  color: var(--branco);
}

a.nav-item {
  color: var(--branco);
}

.navbar p:hover{
  background-color: var(--verdeEscuro);
  transition: 200ms ease-in-out;
  cursor: pointer;
}

.navbar p::after{
  background-color: var(--vermelho);
  transition: 200ms ease-in-out;
  cursor: pointer;
}

.navbar-menu {
  background-color: var(--verde);
}

@media screen and (max-width: 1024px) {
  .empresa {
    display: none;
  }

  .navbar{
    display:flex;
    flex-direction: column;
  }

  .navbar-menu {
    flex-direction: column;
    background-color: transparent;
    
  }
  .navbar-brand{
    display:none
  }
  .navbar-item{
    width: 100vh;
  }
}

ul{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-left: 0px;
}

.shadow-menu{
  box-shadow: 0px .5px 5px rgba(0, 0, 0, 0.534);
}

.navbar-menu{
  box-shadow: none;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro com transparência */
  z-index: 9999; /* Garante que o fundo escuro fique sobre o conteúdo */
}

.box{
  text-align: center;
  font-size: 20pt;
  padding:50px;
  width:500px;
  max-width: 100%;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  z-index: 10000;
}

.modal-close {
  position: fixed;
  top: 10px;
  right: 10px;
  color: #000;
  cursor: pointer;
  background: none;
  border: none;
}

.delete {
  position: absolute;
  top: 50px;
  right: 50px;
}