:root{
  --cinzaclaro: #D9D9D9;
  --azul: #459eb6;
  --branco: #fff;
  --cinza: rgb(189, 189, 189);
  --h2azul: #459eb6;
  --vermelho: red;
}

.dark{
  --cinzaclaro: #ffffff;
  --azul: #2a3f9c;
  --branco: #000000;
  --cinza: rgb(255, 255, 255);
  --h2azul: #2a3f9c;
  --vermelho: red;
}

  input.dark{
    background-color: #dfdfdf;
    color: #000000;
  }
  select.dark{
    background-color: #dfdfdf;
    color: #000000;
  }

button.dark{ 
  background-color: var(--h2azul) ;
   color: var(--branco)!important; 
}

h2.dark{
  color: #fff;
}

.button{ 
    background-color: #367E90 ;
    color: #fff; 
}

.page-full{
  align-items: stretch;
  justify-content: space-around;
  background-color: var(--cinzaclaro)!important;
  margin: 1% 10% 1% 10%;
  padding-bottom: 0.5%;
  border-radius: 1rem;
}

h2{
  text-align: center;
  background-color: var(--azul)!important;
  margin: auto;
  font-size: x-large;
  color: var(--branco);
}

h1{
  text-align: center;
  font-size: larger;
  padding: 0.5%;
}

.obrigatorio{
  color: var(--vermelho);
}

.titulo-cadastro{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

@media screen {
  .is-two-thirds{
    width: 22rem;
  }
}

.top-one{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: baseline;
  gap: 2%;
}

.has-text-centered {
  align-self: center;
}

.shadow-pop-up{
  box-shadow: 0px .5px 10px rgba(0, 0, 0, 0.534);
}


@media screen and (max-width: 1200px) {
  input.input-menor{
    max-width: 45%;
  }
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 1px solid #ccc;
  padding: 5px;
  /* Se desejar, você pode adicionar mais estilos aqui */
}